@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
    @apply text-dark;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .container {
    @apply max-w-[1140px] mx-auto px-4;
  }

  .input-field {
    @apply text-[13px] border-b border-neutral-200 outline-none w-full duration-300 focus:border-b-black h-8;
  }
}

/* Preloader animation */
.preloader-bar {
  animation: preloaded 0.5s ease forwards;
}

@keyframes preloaded {
  0% { width: 50%; }
  100% { width: 0%; }
}
